## From https://github.com/github/gitignore/blob/master/Global/NetBeans.gitignore

## For Debugging Purposes Only
/Source/PressCryption/lib/*.jar
/Source/PressCryption/data/*.db
/Source/PressCryption/PressCryption.properties
/Source/PressCryption/PressCryption.UI.properties
## End of Debugging Section

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/Source/PressCryption.Client/nbproject/private/
/Source/PressCryption.MedicineManagement/nbproject/private/
/Source/PressCryption.MedicineManagement.Contract/nbproject/private/
/Source/PressCryption.MedicineManagement.Data.Contract/nbproject/private/
/Source/PressCryption.MedicineManagement.Data.SQLite/nbproject/private/
/Source/PressCryption.Prescription/nbproject/private/
/Source/PressCryption.Prescription.Contract/nbproject/private/
/Source/PressCryption.Client.JavaFX/nbproject/private/